

.inf2{
    background-color: black;
    max-width: 1280px;
    height: 100vh;
    float: right;
    position: absolute;
    
  }
  .Destaque{
      display: block;
      z-index: 0;
  }
  .esq h2{
   color: #333;
  }
  .dire h2{
    color: #333;
   }
  .perfil2{
    width: 50%;
    margin-top: 50px;
    float: left;
  
  }
  .inf2 .containers2{
    width: 100%;
    margin-top: 0px;
    height: 250px;
    display: none;
    float: left;
    flex-direction: row;
    margin-right: 4.3%;
  }
  .inf2 .livros-destaque{
    margin-top: 150px;
  }
  .capa1 img{
    width: 50%;
    height: 320px;
    margin-top: -530px;
    float: left;
    margin-left: 1%;
  }
  
  .titulo1{
    width: 280px;
    float: right;
    height: 270px;
    padding-top: 0px;
    margin-right: -3%;
    color: #fff;
  }
  .titulo1 b{
    text-align: left;
    float: left;
  }
  
  .Descricao1{
    width: 450px;
    float: left;
    height: 200px;
    margin-left: 1%;
    margin-top: 60px;
    padding-top: 20px;
    color: #fff;
  }
  h6{
    float: right;
    margin-left: 10px;
    padding-top: 2px;
    
  }
  h5{
    float: left;
    text-align: left;
  }
  .Descricao1 b{
    float: left;
  }
  
  .butao-baixar{
   width: 200px;
   height: 50px;
   border-radius: 10px;
   margin-top: 40px;
   float: left;
   margin-right: 50px;
   border: 5px , #fff;
   background-color: rgb(216, 205, 205);
   color: rgb(10, 10, 10);
  }
  
  
  .acao-fundo6{
    width: 500px;
    border-radius: 10%;
    float: left;
    margin-right: 0px;
    text-align: center;
    background-color: tomato;
    margin-top: 100px;
    box-shadow: 0px 0px 130px 10px rgb(139, 137, 137);
    height: 500px;
    background-image: url(https://i.pinimg.com/originals/4d/f4/63/4df4635aa2a47fb55036935e8a9f17ea.jpg);
    background-size: cover;
    background-position: 10px -50px;

    
  }
  .center2{
    max-width: 1280px;
    height: 100vh;
    margin-top: 20vh;

    background-color: black;
  }
  
  .max-widht2{
     width: 1260px;
     text-align: center;
     margin: auto;
      
  }