

.inf{
  background-color: #000;
  max-width: 1280px;
  height: 100vh;
  float: right;
  position: absolute;
  
}
.Destaque{
    display: block;
    z-index: 0;
}
.esq h2{
 color: #333;
}
.dire h2{
  color: #333;
 }
.perfil{
  width: 50%;
  margin-top: 50px;
  float: left;

}
.inf .containers2{
  width: 100%;
  margin-top: 0px;
  height: 250px;
  display: none;
  float: left;
  flex-direction: row;
  margin-right: 4.3%;
}
.inf .livros-destaque{
  margin-top: 150px;
}
.capa1 img{
  width: 50%;
  height: 320px;
  margin-top: -530px;
  float: left;
  transform: translateX(20px);
}

.titulo1{
  width: 250px;
  float: right;
  height: 270px;
  padding-top: 0px;
  margin-right: 0%;
  color: #fff;
}
.titulo1 b{
  text-align: left;
  float: left;
}

.Descricao1{
  width: 450px;
  float: left;
  height: 200px;
  margin-top: 60px;
  padding-top: 20px;
  transform: translateX(20px);
  color: #fff;
}
h6{
  float: right;
  margin-left: 10px;
  padding-top: 2px;
  
}
h5{
  float: left;
  text-align: left;
}
.Descricao1 b{
  float: left;
}

.butao-baixar{
 width: 200px;
 height: 50px;
 border-radius: 10px;
 margin-top: 40px;
 float: right;
 margin-right: 50px;
 border: 5px , #fff;
 background-color: rgb(216, 205, 205);
 color: rgb(10, 10, 10);
}


.Cordel-fundo3{
  width:460px;
  border-radius: 5%;
  float: left;
  margin-right: 0px;
  text-align: center;
  margin-top: 300px;
  box-shadow: 0px 0px 130px 10px rgb(139, 137, 137);
  height: 260px;
  background-image: url(https://i.ytimg.com/vi/kFZSg_K_j8A/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.center{
  width: 100%;
  margin-top: 25vh;
  background-color:#000;
}

.max-widht{
   width: 1260px;
   text-align: center;
   margin: auto;
	
}
