

.inf3{
    background-color: black;
    max-width: 1280px;
    height: 100vh;
    float: right;
    position: absolute;
    
  }
  .Destaque{
      display: block;
      z-index: 0;
  }
  .esq h2{
   color: #333;
  }
  .dire h2{
    color: #333;
   }
  .perfil{
    width: 50%;
    margin-top: 50px;
    float: left;
  
  }
  .inf3 .containers2{
    width: 100%;
    margin-top: 0px;
    height: 250px;
    display: none;
    float: left;
    flex-direction: row;
    margin-right: 4.3%;
  }
  .inf3 .livros-destaque{
    margin-top: 150px;
  }
  .capa1 img{
    width: 50%;
    height: 320px;
    margin-top: -530px;
    float: left;
    transform: translateX(20px);
  }
  
  .titulo1{
    width: 280px;
    float: right;
    height: 270px;
    padding-top: 0px;
    margin-right: -3%;
    color: #fff;
  }
  .titulo1 b{
    text-align: left;
    float: left;
  }
  
  .Descricao1{
    width: 450px;
    float: left;
    height: 200px;
    margin-top: 60px;
    padding-top: 20px;
    transform: translateX(20px);
    color: #fff;
  }
  h6{
    float: right;
    margin-left: 10px;
    padding-top: 2px;
    
  }
  h5{
    float: left;
    text-align: left;
  }
  .Descricao1 b{
    float: left;
  }
  
  .inf3 .butao-baixar{
   width: 200px;
   height: 50px;
   border-radius: 10px;
   margin-top: 40px;
   float: right;
   margin-right: 80px;
   border: 5px , #fff;
   background-color: rgb(216, 205, 205);
   color: rgb(10, 10, 10);
  }
  
  
  .acao-fundo1{
    width: 400px;
    border-radius: 10%;
    float: left;
    margin-right: -30px;
    text-align: center;
    margin-top: 150px;
    box-shadow: 0px 0px 130px 10px rgb(139, 137, 137);
    height: 400px;
    background-image: url(https://img.travessa.com.br/livro/GR/c7/c7c0ecb8-d092-40d0-8e2c-604e86386d0b.jpg);
    background-repeat: no-repeat;
    background-position: 0px  -65px;
  }
  .center0{
    width: 100%;
    height: 100vh;
    margin-top: 20vh;

  }
  
  .max-widht{
     max-width: 1280px;
     text-align: center;
     margin: auto;
      
  }
  @media (max-width:700px) {
         
    .center{
      width: 100%;
      height: 200vh !important;
      margin-top: 20vh;
  
    }
    .acao-fundo1{
      width: 400px;
      border-radius: 10%;
      float: left;
      margin-right: -30px;
      text-align: center;
      margin-top: 150px;
      box-shadow: 0px 0px 130px 10px rgb(139, 137, 137);
      height: 400px;
      background-image: url(https://img.travessa.com.br/livro/GR/c7/c7c0ecb8-d092-40d0-8e2c-604e86386d0b.jpg);
      background-repeat: no-repeat;
      background-position: 0px  -65px;
    }
    .inf3{
      width: 100%;
      height: 50vh !important;
    }
    
    .max-widht{
      width: 100% !important;
      text-align: center;
      margin: auto;
      height: 50vh !important;

   }
  

  }