

.inf3{
    background-color: black;
    max-width: 1280px;
    height: 100vh;
    float: right;
    position: absolute;
    
  }
  .Destaque{
      display: block;
      z-index: 0;
  }
  .esq h2{
   color: #333;
  }
  .dire h2{
    color: #333;
   }
  .perfil{
    width: 50%;
    margin-top: 50px;
    float: left;
  
  }
  .inf3 .containers2{
    width: 100%;
    margin-top: 0px;
    height: 250px;
    display: none;
    float: left;
    flex-direction: row;
    margin-right: 4.3%;
  }
  .inf3 .livros-destaque{
    margin-top: 150px;
  }
  .capa1 img{
    width: 50%;
    height: 320px;
    margin-top: -530px;
    float: left;
    transform: translateX(20px);
  }
  
  .titulo1{
    width: 280px;
    float: right;
    height: 270px;
    padding-top: 0px;
    margin-right: -3%;
    color: #fff;
  }
  .titulo1 b{
    text-align: left;
    float: left;
  }
  
  .Descricao1{
    width: 450px;
    float: left;
    height: 200px;
    margin-top: 60px;
    padding-top: 20px;
    transform: translateX(20px);
    color: #fff;
  }
  h6{
    float: right;
    margin-left: 10px;
    padding-top: 2px;
    
  }
  h5{
    float: left;
    text-align: left;
  }
  .Descricao1 b{
    float: left;
  }
  
  .inf3 .butao-baixar{
   width: 200px;
   height: 50px;
   border-radius: 10px;
   margin-top: 40px;
   float: right;
   margin-right: 80px;
   border: 5px , #fff;
   background-color: rgb(216, 205, 205);
   color: rgb(10, 10, 10);
  }
  
  
  .Cordel-fundo0{
    width: 355px;
    border-radius: 10%;
    float: left;
    margin-left: 50px;
    text-align: center;
    background-color: tomato;
    margin-top: 200px;
    box-shadow: 0px 0px 130px 10px rgb(139, 137, 137);
    height: 355px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJRR1uIS5uedp9AiGCv9sAeEnN4yvC2EwgXPZjPuNXAQBMIYA8X-UE8xLasupxwgSWVKU&usqp=CAU);
    background-repeat: no-repeat;
    background-size: contain;

  }
  .center{
    max-width: 1280px;
    background-color: black;
    margin-top: 20vh;

  }
  
  .max-widht{
     width: 1260px;
     text-align: center;
     margin: auto;
      
  }

  @media (max-width:991px) {

    .Cordel-fundo0{
      display: none;
    }
    .Cordel-fundo1{
      display: none;
    }.Cordel-fundo2{
      display: none;
    }.Cordel-fundo3{
      display: none;
    }.Cordel-fundo4{
      display: none;
    }.Cordel-fundo5{
      display: none;
    }.Cordel-fundo6{
      display: none;
    }.Cordel-fundo7{
      display: none;
    }.Cordel-fundo8{
      display: none;
    }.Cordel-fundo10{
      display: none;
    }

  }